In [1]:
import pandas as pd
from scipy import stats
import plotly.graph_objects as go
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

# Importing data sets

In [3]:
df20 = pd.read_csv('IT Salary Survey EU 2020.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'IT Salary Survey EU 2020.csv'

# Understanding Data

In [ ]:
df20.head(3)

In [ ]:
# Check the dimensions of the dataset to know the number of rows and columns.
df20.shape

In [ ]:
df20.columns

In [ ]:
#renaming columns name
df20 = df20.rename(columns={'Position ':'Position',
'Annual bonus+stocks one year ago. Only answer if staying in same country':'bonus_last_year',
                     'Annual bonus+stocks one year ago. Only answer if staying in same country':'bonus__year_ago',
                     'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country':'salary_brutto_nobonus_year_ago',
                    'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week':'shorter_working_hour_week',
                    'Have you lost your job due to the coronavirus outbreak?':'COVID_lost_job',
                    'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR':'support_work_home',
                    'Other technologies/programming languages you use often':'other_progr_lang',
                    'Your main technology / programming language':'main_progr_lang',
                    'Yearly brutto salary (without bonus and stocks) in EUR':'salary_brutto',
                    'Total years of experience': 'experience_years',
                    'Years of experience in Germany':'experience_years_DE',
                    'Yearly bonus + stocks in EUR':'bonnus',
                    'Main language at work':'main_language',
                    'Сontract duration':'contract_duration',
                    'Seniority level':'seniority_level',
                    'Number of vacation days':'vacation_days',
                    'Employment status':'employment_status',
                    'Company size':'company_size',
                    'Company type':'company_type'})

In [ ]:
# get information about data types, non-null counts, and memory usage.
df20.info()

# Handling Missing Data:

In [ ]:
plt.figure(figsize=(10,10))
sns.heatmap(df20.isnull())
plt.show()

In [ ]:
# Calculate the percentage of NaN values for each column in df20
nan_percentage = df20.isnull().mean() * 100

nan_percentage

In [ ]:
# Drop columns that have more than 50% NaN values
threshold = 50  # Set the threshold percentage
columns_to_drop = nan_percentage[nan_percentage > threshold].index
df20 = df20.drop(columns=columns_to_drop)

# Now df20 contains columns that have less than or equal to 50% NaN values

In [ ]:
# additionaly we will drop 2 columns that we dont use them 
#- bonus and -salary_brutto-nobonus_yearago  
columns_to_drop = ['bonnus', 'salary_brutto_nobonus_year_ago','Timestamp']
df20 = df20.drop(columns=columns_to_drop)

In [ ]:
# Calculate the percentage of NaN values for each row in df20
nan_percentage = df20.isnull().mean(axis=1) * 100
threshold = 50  
df20[nan_percentage>threshold]

In [ ]:
rows_to_drop = nan_percentage[nan_percentage > threshold].index
df20 = df20.drop(index=rows_to_drop)

# Now df20 contains rows that have less than or equal to 60% NaN values

In [ ]:
df20.info()

In [ ]:
df20['salary_brutto'] = df20['salary_brutto'].astype(int)

# Age column Cleaning

 - To replace the missing values in the "Age" column based on the "experience_years" column, we can calculate the mean age for each unique value in the "experience_years" column and then use these means to fill in the missing age values.

- Lets check the values from 'experience_years' and fix errors

In [ ]:
unique_values = df20['experience_years'].unique().tolist()
print(unique_values)

In [ ]:
# fixing errors in df['experience_years']

dics ={
'1 (as QA Engineer) / 11 in total':'11',
'15, thereof 8 as CTO':'15',
'6 (not as a data scientist, but as a lab scientist)':'6',
'383':'nan',
'less than year':'1','7.5':'8'}

for i in dics:
    df20['experience_years'] = df20['experience_years'].apply(lambda x:dics.get(i) if (x==i) else x )

In [ ]:
# We will fill age with mean depending of 'experience_years'
df20['Age'] = df20['Age'].fillna(df20.groupby('experience_years')['Age'].transform('mean'))

In [ ]:
# check the result 
pd.set_option('display.max_columns',None) # display all columns 
age_nan = df20[df20['Age'].isnull()]
age_nan

- To fill the remaining NaN values in the "Age" column we can use mean age based on the "seniority_level" column

In [ ]:
#fill Age column with the mean Age grouped by Salary
df20['Age'] = df20['Age'].fillna(df20.groupby('seniority_level')['Age'].transform('mean'))

In [ ]:
df20['Age']=df20['Age'].astype(int)

In [ ]:
df20[df20['Age'].isnull()]

# Salary

In [ ]:
# Round the 'salary_brutto' to the nearest thousand and convert to integers in order to have groups of salary
df20['salary_brutto'] = (df20['salary_brutto'] / 1000).round() * 1000

In [ ]:
# detect outliers df20['Salary brutto']
z_scores = stats.zscore(df20['salary_brutto'])
outliers = df20[abs(z_scores) > 3]
outliers

In [ ]:
# Keep only the rows that do not contain outliers 
df20 = df20[(abs(z_scores) <= 3)]

In [ ]:
import plotly.express as px
fig = px.box(df20, y='salary_brutto')
fig.update_layout(
    paper_bgcolor='black',  # Set the background color to black
    plot_bgcolor='black',   # Set the plot area background color to black
    font=dict(color='white'),  # Set the font color to white for better visibility
    yaxis=dict(gridcolor='black',gridwidth=0.1),
    yaxis_title='Yearly Brutto Salary (EUR)'
)

fig.show()

In [ ]:
 df20[df20['salary_brutto']>=800000]

## Salary Visualisation

In [ ]:
# Filter the DataFrame to exclude the max value
max_value = df20['salary_brutto'].max()
df_filtered = df20[df20['salary_brutto'] != max_value]

fig = px.box(df_filtered, y='salary_brutto')
fig.update_layout(
    title='Salary Distribution of IT Specialists in Europe',   # Set the chart title
    title_x=0.5,  
    yaxis_title='Yearly Brutto Salary (EUR)',
    paper_bgcolor='black',  # Set the background color to black
    plot_bgcolor='black',   # Set the plot area background color to black
    font=dict(color='white'),  # Set the font color to white for better visibility
    yaxis=dict(gridcolor='black',gridwidth=0.1)
)

fig.show()

 **Comment**

- The average salary is approximately **70,000 EUR.**

- The Q3 (75th percentile) value is around **80,000 EUR, indicating that 75% of the salaries fall below this threshold.
- The Q1 (25th percentile) value is approximately **58,000 EUR, illustrating that 25% of the salaries fall below this value.

- The upper fence, which is located at approximately 113,000 EUR, suggests that any salary above this value could be considered an outlier.
- The maximum salary is **850,000 EUR** (omited from chart), signifying the highest recorded salary and the presence of **outliers**, as they fall far outside the box plot's whiskers.

- The lower fence, located at around 25,000 EUR, suggests that any salary below this value could also be considered an outlier
- The minimum salary is around **10,000 EUR,** which indicates the **lowest recorded salary in the dataset.

## Age vizualisation

In [ ]:
fig = px.histogram(df20, x='Age', nbins=25, histnorm='percent', color_discrete_sequence=['skyblue'])  

# Calculer la moyenne pour afficher la ligne d'annotation
mean_age = df20['Age'].mean()


fig.update_layout(
    title='Distribution of IT specialists in Germany',   # Set the chart title
    xaxis_title='Age',          # Set the x-axis title
    yaxis_title='Percentage',    # Set the y-axis title to indicate percentages
    title_x=0.5,                # Center the chart title horizontally
    paper_bgcolor='black',      # Set the background color to black
    plot_bgcolor='black',       # Set the plot area background color to black
    font_color='white',         # Set the font color for text elements to white
    xaxis=dict(showgrid=False), # Remove the x-axis grid lines
    yaxis=dict(showgrid=False)  # Remove the y-axis grid lines
)

fig.update_traces(marker_line_color='black',  # Set the color of the bar outlines to black
                  marker_line_width=1)  # Set the width of the bar outlines

fig.add_shape(
    type='line',
    x0=mean_age,
    x1=mean_age,
    y0=20,
    y1=1,
    line=dict(color='red', width=2, dash='dash')  # Set the color and style of the line
)


fig.add_annotation(
    x=mean_age,
    y=20,
    text=f'Average: {mean_age:.2f}',  # Display the mean value with 2 decimal places
    showarrow=False,
    font=dict(color='red')  # Set the color of the annotation text to red
)

fig.show()

**comments**

- Approximately 50% of IT specialists fall within the age range of **28 to 36 years**, with an **average age of 32 years**.

# How does salary vary with age?

In [ ]:
import plotly.express as px
import pandas as pd
fig = px.scatter(df_filtered, y="Age", x="salary_brutto", trendline="ols", trendline_scope="overall")

fig.update_layout(
    title='Salary vs. Age Correlation',
    
    xaxis_title='Salary',
    yaxis_title='Age',
    paper_bgcolor='black',   
    plot_bgcolor='black',    
    font=dict(color='white'),  
)

fig.update_xaxes(showline=False, showgrid=False, showticklabels=True, linecolor='black',zeroline=False)  
fig.update_yaxes(showline=False, showgrid=False, showticklabels=True, linecolor='black')  
fig.update_traces(marker=dict(color='skyblue', size=7))  

fig.show()

In [ ]:
import statsmodels.api as sm

In [ ]:
#Add a constant column to the df_filtered to account for the intercept in the linear regression model:
df_filtered['intercept'] = 1
X = df_filtered[['intercept', 'Age']]
y = df_filtered['salary_brutto']

model = sm.OLS(y, X).fit()
print(model.summary())

- model suggests that **Age** has a statistically significant but relatively **weak** positive effect on salary_brutto. The model's R-squared is **low**, indicating that **Age alone does not explain much of the variation in salary_brutto.**

# Job Position

- The 'Position' variable, which represents specialists' job positions, contains several errors, including spelling mistakes, some positions being in the German language, and spaces before the apostrophe. To improve the data's organization, it is recommended to group the positions into categories since many of them share the same meaning.

In [ ]:
# Convert values of 'Position' to lowercase
df20['Position'] = df20['Position'].str.lower()

# Remove spaces before and after words and between single quotes
df20['Position'] = df20['Position'].str.strip()
df20['Position'] = df20['Position'].str.replace(" '", "'")

In [ ]:
unique_values = df20['Position'].unique().tolist()
print(len(unique_values))
print(unique_values)

In [ ]:
# fixing errors in df20['Position']

dics ={'dana analyst': 'data analyst','fullstack engineer, ну или software engineer': 'software engineer',
       'stuttgart':'nan','databengineer':'data engineer','agile master ':'agile coach',
       'tech lead / full-stack': 'technical lead','it spezialist': 'it consultant','it consulting ':'it consultant',
      'data analyst ':'data analyst','analyst':'data analyst','head of it ':'it manager',
      'project manager ':'project manager','consultant':'it consultant','hiwi':'student','beikoch':'product manager',
       'product management praktikant':'student','software architekt':'architect'}

for i in dics:
    df20['Position'] = df20['Position'].apply(lambda x:dics.get(i) if (x==i) else x )

- As some job positions share common responsibilities, I have considered grouping them together. Though it is not mandatory, I believe that creating these groups based on specific regulations could enhance the overall data quality of this dataset.

In [ ]:
df20.dropna(subset=['Position'], how='all', inplace=True)

## What are the job positions with the highest number of IT specialists?

In [ ]:
aggregated_data_job

In [ ]:
# group by position
aggregated_data_job = df20.groupby('Position').agg(
    Number_of_Specialists=('Position', 'count'),
    Average_Salary=('salary_brutto', 'mean'),
    Average_Age=('Age','mean')).reset_index()

aggregated_data_job=aggregated_data_job.sort_values(by='Number_of_Specialists',ascending=False)[:12]
    
print(aggregated_data_job['Number_of_Specialists'].sum())

In [ ]:
fig = go.Figure(data=[go.Table(
    header=dict(
        values=['Position', 'Number of Specialists'],
        fill_color='black',
        align='left',
        font=dict(size=18,color='white'),  
        height=30
    ),
    cells=dict(
        values=[aggregated_data_job['Position'], aggregated_data_job['Number_of_Specialists']],
        align='left',
        fill_color='lightgrey',
        font=dict(size=14, color = 'black'),
        height=30
    ))
])

fig.update_layout(
    title='Number of specialists by Job Positions (top 12)',
    title_x=0.5, 
    width=1000,  
    height=600, 
)

fig.show()

- I found that the top **job positions** with the highest number of IT specialists is **software engineer**. I also included more positions because I wanted to showcase the significance of the **"Data Analyst"** role.

##  What is the average Salary and Age by Job Positions?

In [ ]:
# Select the first 7 top positions

aggregated_data_job = aggregated_data_job[:7]
aggregated_data_job = aggregated_data_job.sort_values(by='Average_Salary',ascending=False)

aggregated_data_job['Average_Salary'] = aggregated_data_job['Average_Salary'].apply(lambda x: '€ {:,.0f}'.format(x))
aggregated_data_job['Average_Age'] = aggregated_data_job['Average_Age'].apply(lambda x: '{:,.0f} y.o'.format(x))

In [ ]:
fig = go.Figure(data=[go.Table(
    header=dict(
        values=list(aggregated_data_job.columns),
        fill_color='black',
        align='left',
        font=dict(size=18, color='white'),
        height=50),
    cells=dict(
        values=(aggregated_data_job.Position,aggregated_data_job.Number_of_Specialists,aggregated_data_job.Average_Salary,aggregated_data_job.Average_Age),
        fill_color='lightgrey',
        align='left',
        font=dict(size=14, color='black'),
        height=30))])
fig.update_layout(
    title='Job Positions by Number of Specialists, Age and Salary (top 7 positions)',
    title_x=0.5,    width=1000,  height=600,)
fig.show()

In [ ]:
aggregated_data_job

In [ ]:
# We will select only 7 most ussual positons

jobs_top7 = aggregated_data_job['Position'].values
max_salary = 850000

# Use boolean indexing to select data based on multiple conditions
selected_data = df20[(df20['Position'].isin(jobs_top7)) & (df20['salary_brutto'] < max_salary)]
# Sort the data by 'salary_brutto' in descending order
selected_data = selected_data.sort_values(by='salary_brutto', ascending=False)

In [ ]:
x_data = selected_data['Position'].unique()
#N = 50
y_data = [selected_data[selected_data['Position'] == position]['salary_brutto'] for position in x_data]

colors = ['rgba(93, 164, 214, 0.5)', 'rgba(255, 144, 14, 0.5)', 'rgba(44, 160, 101, 0.5)',
          'rgba(255, 65, 54, 0.5)', 'rgba(207, 114, 255, 0.5)', 'rgba(127, 96, 0, 0.5)',
          'rgba(200, 65, 54, 0.5)']

fig = go.Figure()

for xd, yd, cls in zip(x_data, y_data, colors):
    fig.add_trace(go.Box(
        y=yd,
        name=xd,
        boxpoints='all',
        jitter=0.7,  
        whiskerwidth=1,
        fillcolor=cls,
        marker_size=5,
        line_width=2)
    )

fig.update_layout(
    title='Salary Distribution (top 7 Job Positions by nr of Specialists)',
    title_x=0.5,
    title_font=dict(color='white'),  
    xaxis=dict(title='Job Positions', title_font=dict(color='white'),tickfont=dict(color='white')),  
    yaxis=dict(
        autorange=True,
        showgrid=True,
        zeroline=True,
        dtick=20000,  
        gridcolor='black',
        gridwidth=1,
        zerolinecolor='grey',
        zerolinewidth=2,
        tickfont=dict(color='white')  
    ),
    legend_font_color='white',
    margin=dict(
        l=40,
        r=30,
        b=30,
        t=100,
    ),
    paper_bgcolor='black',
    plot_bgcolor='black',
    showlegend=False
)

fig.show()

In [ ]:
# outlier salary 
df20[df20['salary_brutto'] >= max_salary]

In [ ]:
aggregated_data_job = df20.groupby('Position').agg(
    Number_of_Specialists=('Position', 'count'),
    Average_Salary=('salary_brutto', 'mean'),
    Average_Age=('Age','mean')).reset_index().sort_values(by='Number_of_Specialists',ascending=False)

aggregated_data_job = aggregated_data_job[:12]
aggregated_data_job = aggregated_data_job.sort_values(by='Average_Salary',ascending=False)

In [ ]:
fig = px.bar(aggregated_data_job, x='Position', y='Average_Salary')

fig.update_layout(
    template="plotly_dark",  
    title="Average Salary for the Top 12 Most In-Demand Job Positions",
    xaxis_title="Job Positions",
    yaxis_title="Average Salary",
    xaxis_tickangle=-45,
)

fig.update_layout(legend=dict(font=dict(color="white")))

fig.update_xaxes(ticks="inside", tickcolor="white")
fig.update_yaxes(ticks="inside", tickcolor="white")

fig.show()

- DevOps has the highest salary among the job positions.
- There are outliers for every job position, indicating significant salary variations within each role.
- The Frontend Developer role has the largest outlier, implying potential high-paying opportunities in that position.

# Gender

In [ ]:
df20['Gender'].unique()

In [ ]:
# drop null Gender 1%
df20.dropna(subset=['Gender'], how='all', inplace=True)

In [ ]:
gender_counts = df20['Gender'].value_counts()
fig = go.Figure(data=[go.Pie(
    labels=gender_counts.index,
    values=gender_counts.values,
    hole=0.7,  
    marker_colors=['navyblue', 'red', 'grey'],  
    textfont_color='white',  
    textinfo='label+percent', 
)])

fig.update_layout(
    title='Gender Distribution',
    title_x=0.5,  
    title_font_color='white',  
    paper_bgcolor='black',
    showlegend=False
)
fig.show()

In [ ]:
gender_salary = df20.groupby('Gender')['salary_brutto'].mean().reset_index()
gender_salary

In [ ]:
fig = px.bar(gender_salary, x='Gender', y='salary_brutto',color='Gender')

fig.update_layout(
    template="plotly_dark",  
    title="Average Salary per Gender",
    title_x=0.5,
    xaxis_title="Gender",
    yaxis_title="Average Salary",
    xaxis_tickangle=-45,
)

fig.update_layout(legend=dict(font=dict(color="white")))

fig.update_xaxes(ticks="inside", tickcolor="white")
fig.update_yaxes(ticks="inside", tickcolor="white")

fig.show()

In [ ]:

fig_box = go.Figure()
category_order = selected_data.groupby('Gender')['salary_brutto'].min().sort_values(ascending=True).index
selected_data['Gender'] = pd.Categorical(selected_data['Gender'], category_order)
for group, data in selected_data.groupby('Gender'):
    text = data.apply(lambda row: f"Position: {row['Position']}<br>Salary: {row['salary_brutto']} EUR", axis=1)
    marker_size = 5  
    fig_box.add_trace(go.Box(
        y=data['salary_brutto'],
        name=group,
        boxpoints='all',
        jitter=0.6,  
        whiskerwidth=1,
        fillcolor='rgba(93, 164, 214, 0.5)',
        marker_size=marker_size,  
        line_width=2,
        text=text,  
        hoverinfo='text',  
    ))
fig_box.update_layout(
    title='Salary Distribution by Gender',
    title_x=0.5,
    yaxis_title='Yearly Brutto Salary (EUR)',
    paper_bgcolor='black',  
    plot_bgcolor='black',   
    font=dict(color='white'),  
    yaxis=dict(gridcolor='black', gridwidth=0.1),
    showlegend=False
) 
fig_box.show()

In [ ]:
fig_box = go.Figure()
category_order = selected_data.groupby('Gender')['Age'].min().sort_values(ascending=True).index
selected_data['Gender'] = pd.Categorical(selected_data['Gender'], category_order)
for group, data in selected_data.groupby('Gender'):
    text = data.apply(lambda row: f"Position: {row['Position']}<br>Age: {row['Age']} years", axis=1)
    marker_size = 5  
    fig_box.add_trace(go.Box(
        y=data['Age'],
        name=group,
        boxpoints='all',
        jitter=0.6,  
        whiskerwidth=0.2,
        fillcolor='rgba(93, 164, 214, 0.5)',
        marker_size=marker_size,  
        line_width=1,
        text=text,  
        hoverinfo='text',  
    ))
fig_box.update_layout(
    title='Age Distribution by Gender',
    title_x=0.5,
    yaxis_title='Age',
    paper_bgcolor='black',  
    plot_bgcolor='black',   
    font=dict(color='white'),  
    yaxis=dict(gridcolor='black', gridwidth=0.1),
    showlegend=False
) 
fig_box.show()


- The gender distribution shows that **85% of the workforce is male, while 15% are female.
- There is a **noticeable salary gap** between men and women,

# Experience

In [ ]:
# 'experience_years' column should be converted to Int but contains some nan values
# lets modify

df20 = df20[pd.to_numeric(df20['experience_years'], errors='coerce').notnull()]
df20['experience_years'] = pd.to_numeric(df20['experience_years'], errors='coerce')

df20['experience_years'] = df20['experience_years'].astype(int)

#fill Age column with the mean Age grouped by Salary
df20['experience_years'] = df20['experience_years'].fillna(df20.groupby('seniority_level')['experience_years'].transform('mean'))

## How does the salary differ between genders in the same position job and experience level ?

In [ ]:
df20_male = df20[df20['Gender'] == 'Male']
df20_female = df20[df20['Gender'] == 'Female']

sorted_positions = sorted(df20['Position'].unique())

max_experience_years = max(df20['experience_years'].max(), df20['experience_years'].max())

fig = make_subplots(rows=1, cols=2, shared_yaxes=True, horizontal_spacing=0.05)

fig.add_trace(go.Scatter(
    x=df20_female['Position'],
    y=df20_female['experience_years'],
    mode='markers',
    name='Female',
    marker=dict(
        size=df20_female['salary_brutto'] / 8000,
        sizemode='diameter',
        sizeref=0.7,  
        color='red',
        opacity=0.5,
        showscale=False,
        colorbar=dict(title='Salary')
    ),
    text=df20_female['Position'] +
         '<br>Salary: ' + df20_female['salary_brutto'].astype(str) +
         '<br>Years of experience: ' + df20_female['experience_years'].astype(str) +
         '<br>Age: ' + df20_female['Age'].astype(str),
), row=1, col=1)

# Add circles for males
fig.add_trace(go.Scatter(
    x=df20_male['Position'],
    y=df20_male['experience_years'],
    mode='markers',
    name='Male',
    marker=dict(
        size=df20_male['salary_brutto'] / 8000,
        sizemode='diameter',
        sizeref=0.7, 
        color='blue',
        opacity=0.5,
        showscale=False,
        colorbar=dict(title='Salary')
    ),
    text=df20_male['Position'] +
         '<br>Salary: ' + df20_male['salary_brutto'].astype(str) +
         '<br>Years of experience: ' + df20_male['experience_years'].astype(str) +
         '<br>Age: ' + df20_male['Age'].astype(str),
), row=1, col=2)

fig.update_xaxes(categoryorder='array', categoryarray=sorted_positions, row=1, col=1)
fig.update_xaxes(categoryorder='array', categoryarray=sorted_positions, row=1, col=2)

fig.update_layout(
    title='Salary vs Years of experience and Job Position (Gender-wise)',
    title_x = 0.5,
    xaxis=dict(title=''),
    yaxis=dict(title='Years of Experience'),
    showlegend=True,
    paper_bgcolor='white',  
    width=1100,  
    height=700,  
)
fig.update_yaxes(range=[-2, max_experience_years+2], row=1, col=1)
fig.update_yaxes(range=[-2, max_experience_years+2], row=1, col=2)

fig.show()

In [ ]:
df20 = df20[df20['salary_brutto'] != 850000]
df20_male = df20[df20['Gender'] == 'Male']
df20_female = df20[df20['Gender'] == 'Female']

fig = make_subplots(rows=1, cols=2, shared_yaxes=True, horizontal_spacing=0.05)

sorted_positions = sorted(df20['Position'].unique())

male_trace = go.Box(x=df20_male['Position'], y=df20_male['salary_brutto'], name='Male', boxpoints='all')
fig.add_trace(male_trace, row=1, col=1)

female_trace = go.Box(x=df20_female['Position'], y=df20_female['salary_brutto'], name='Female', boxpoints='all')
fig.add_trace(female_trace, row=1, col=2)

fig.update_layout(title_text="Salary by Position for Male and Female Employees",
                  xaxis_title="Position",
                  yaxis_title="Salary")

fig.show()

In [ ]:
fig_box = go.Figure()
category_order = df20.groupby('Gender')['experience_years'].min().sort_values(ascending=True).index
df20['Gender'] = pd.Categorical(df20['Gender'], category_order)
for group, data in df20.groupby('Gender'):
    text = data.apply(lambda row: f"Position: {row['Position']}<br>Experience years: {row['experience_years']} years", axis=1)
    marker_size = 5  
    fig_box.add_trace(go.Box(
        y=data['experience_years'],
        name=group,
        boxpoints='all',
        jitter=0.6,  
        whiskerwidth=0.2,
        fillcolor='rgba(93, 164, 214, 0.5)',
        marker_size=marker_size,  
        line_width=1,
        text=text,  
        hoverinfo='text',  
    ))
fig_box.update_layout(
    title='Experience Years Distribution by Gender',
    title_x=0.5,
    yaxis_title='Experience Years',
    paper_bgcolor='black',  
    plot_bgcolor='black',   
    font=dict(color='white'),  
    yaxis=dict(gridcolor='black', gridwidth=0.1),
    showlegend=False
) 
fig_box.show()

-  The women have the **same years of experience as the majority of men**

# Which City in Germany has the highest concentration of IT specialists?

In [ ]:
df20['City'].unique()

In [ ]:
df20[df20['City']=='Prefer not to say']

In [ ]:
df20 = df20[df20['City'] != 'Prefer not to say']

In [ ]:
dics = {
    'France': 'Paris',
    'City in Russia':'Moscow',
    'Fr':'Paris'
}


for i in dics:
    df20['City'] = df20['City'].apply(lambda x:dics.get(i) if (x==i) else x )

In [ ]:
df20['City'].isnull().sum()

In [ ]:

df = df20.groupby('City')['Position'].count().sort_values(ascending=False).reset_index()[:5]

fig = px.bar(df,
             x='City',  
             y='Position',  
             title='City Distribution',   
             color='City',  
             color_discrete_sequence=px.colors.qualitative.Safe,  
             template='plotly_dark',  
            )

fig.update_layout(
    title='Top 5 cities with highest concentration of IT specialists in Germany',
    title_x=0.5,  
    xaxis_title='City', 
    yaxis_title='Nr of specialists',  
    xaxis=dict(showgrid=False), 
    yaxis=dict(showgrid=False),showlegend=False
)

fig.show()

- **Berlin** has the highest concentration of IT specialists

## How does Salary across in differnt cities?

In [ ]:
df = df20.groupby('City')['salary_brutto'].mean().sort_values(ascending=False).reset_index()[:10]

In [ ]:
fig = px.bar(df,
             x='City',  
             y='salary_brutto',  
             title='Salary by City',   
             color='City',  
             color_discrete_sequence=px.colors.qualitative.Safe,  
             template='plotly_dark',  
            )

fig.update_layout(
    title='Salary by City',
    title_x=0.5,  
    xaxis_title='City', 
    yaxis_title='Average Salary',  
    xaxis=dict(showgrid=False), 
    yaxis=dict(showgrid=False),showlegend=False
)

fig.show()

# Seniority level

In [ ]:
df20['seniority_level'].unique()

In [ ]:
# Convert values of 'Position' to lowercase
df20['seniority_level'] = df20['seniority_level'].str.lower()

# Remove spaces before and after words and between single quotes
df20['seniority_level'] = df20['seniority_level'].str.strip()
df20['seniority_level'] = df20['seniority_level'].str.replace(" '", "'")

In [ ]:
dics = {
    'no idea, there are no ranges in the firm':'senior',
    'student':'intern',
    'working student': 'intern',
    'entry level':'junior',
    'c-level':'c-level executive manager',
    'work center manager':'manager',
    'principal':'head',
    'key':'head',
    'vp':'vice president',
    'cto':'c-level executive manager'
}


for i in dics:
    df20['seniority_level'] = df20['seniority_level'].apply(lambda x:dics.get(i) if (x==i) else x )

In [ ]:
df20['seniority_level'].isnull().sum()

In [ ]:
# drop nan
df20.dropna(subset=['seniority_level'], inplace=True)

In [ ]:
df20['salary_brutto'].max()

In [ ]:
# Use boolean indexing to select data based on multiple conditions
selected_data = df20[(df20['salary_brutto'] < max_salary)]

df = selected_data.groupby('seniority_level')['salary_brutto'].mean().sort_values(ascending=False).reset_index()
df['salary_brutto'] = df['salary_brutto'].round()

## How salary change with increasing seniority level?

In [ ]:
fig = px.bar(df,
             x='seniority_level',  
             y='salary_brutto',  
             title='Average Salary by level of seniority',   
             color='seniority_level',  
             color_discrete_sequence=px.colors.qualitative.Safe,  
             template='plotly_dark',  
            )

fig.update_layout(
    title_x=0.5,  
    xaxis_title='seniority level', 
    yaxis_title='salary',  
    xaxis=dict(showgrid=False), 
    yaxis=dict(showgrid=False),showlegend=False
)

fig.show()

- salaries tend to increase as the seniority level rises. However, one particular level stands out: "Self-Employed" has the highest salary. This observation is quite understandable, as the compensation for self-employed individuals often includes taxes, contributing to the higher salary figure for this unique category.

In [ ]:
df20.head()

In [ ]:
dics = {
'Full-time employee':'full-time',
'Self-employed (freelancer)':'freelancer',
'Company Director':'full-time',
'Founder':'full-time',
'Part-time employee':'part-time',
'working student':'part-time',
'Working Student':'part-time',
"Full-time position, part-time position, & self-employed (freelancing, tutoring)":'full-time',
"full-time, but 32 hours per week (it was my request, I'm a student)":'part-time',
'Werkstudent':'part-time'
}

for i in dics:
    df['emp_state'] = df['emp_state'].apply(lambda x:dics.get(i) if (x==i) else x )

In [ ]:
#fill Age column with the mean Age grouped by Salary
df20['Age'] = df20['Age'].fillna(df20.groupby('seniority_level')['Age'].transform('mean'))

In [ ]:
df20[df20['seniority_level']=='Senior']